---
#layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

<p class="pub-section"><strong>Preprints</strong></p>

{% assign pubs = site.publications | sort: "date" | reverse %}
<ul class="pub-list">
{% for p in pubs %}
  {% if p.category == "Preprints" %}
    <li>
      {{ p.authors }} ({{ p.date | date: "%Y" }}).
      {{ p.title }}.<br/>
      <span class="pub-venue">
      {% if p.venue_url and p.venue_url != "" %}
        <em><strong><a href="{{ p.venue_url }}">{{ p.venue }}</a></strong></em>
      {% else %}
        <em><strong>{{ p.venue }}</strong></em>
      {% endif %}
      </span>
      {% if p.excerpt %}
        <br/><span class="pub-note">{{ p.excerpt | markdownify | strip_newlines | replace: '<p>','' | replace: '</p>','' }}</span>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
</ul>

<p class="pub-section"><strong>Publications</strong></p>

<ul class="pub-list">
{% for p in pubs %}
  {% if p.category == "Journal articles" %}
    <li>
      {{ p.authors }} ({{ p.date | date: "%Y" }}).
      {{ p.title }}.<br/>
      <span class="pub-venue">
      {% if p.venue_url and p.venue_url != "" %}
        <em><strong><a href="{{ p.venue_url }}">{{ p.venue }}</a></strong></em>
      {% else %}
        <em><strong>{{ p.venue }}</strong></em>
      {% endif %}
      </span>
    </li>
  {% endif %}
{% endfor %}
</ul>
