---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

## Publications  ( [ORCID](#) , [Google Scholar](#) )

{% assign pubs = site.publications | sort: "date" | reverse %}

{% for category in site.publication_category %}
  <h2>{{ category[1].title }}</h2>
  <ul>
  {% for p in pubs %}
    {% if p.category == category[0] %}
      <li style="margin-bottom:1rem;">
        {{ p.authors }} ({{ p.date | date: "%Y" }}).
        <a href="{{ p.url | relative_url }}"><strong>{{ p.title }}</strong></a>.<br/>
        <em>{{ p.venue }}</em>.
      </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}



